// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

h1, h2, h3, h4, h5, h6
  color white

.bespoke-slide
  background-color transparent

.orion
  background-image url("../images/orion.jpg")
.applause
  background-image url("../images/applause.gif")
  
img.small
  min-width 200px
  width 10vw
.gulp
  background-color white

blockquote:before
  content "> "

blockquote
  font-style italic
  
code
  font-weight 900
pre.black
  background-color rgba(0, 0, 0, 0.6) !important
  
delimiter
  display block
  width 80%
  height 1px
  background-color rgba(255, 255, 255, 0.6)
  margin auto
  margin-top 10px
  margin-bottom 10px
