doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NPM &amp; GULP

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 NPM
        img.small(src="images/npm.png")

      section(data-bespoke-backdrop='orion')
        h2 What is it ?
        delimiter
        blockquote npm is the package manager for JavaScript and the world’s largest software registry.
        delimiter
        code npm install bootstrap
        code npm update jquery

      section
        h2 Why using npm ?
        ul.build.build-items
          li Easiest way to use external librairies
          li Clean dependencies with <strong>package.json</strong>
          li Lighter code
      
      section
        h2 How to use it
        pre
          code.language-javascript.
            npm install < package >
          delimiter
          code.language-javascript.
            // In Node Environment 
            var $ = require('jquery')
          delimiter
          code.language-javascript.
            // In the browser
            < script src="node_modules/ ... / jquery.js">
      section
        h1 Gulp
        img.small.gulp(src="images/gulp.png")
      
      section(data-bespoke-backdrop='orion')
        h2 What is it ?
        delimiter
        blockquote Gulp is a toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.
        delimiter
        pre.black
          code.language-javascript.
            gulp.task('css', function(){
              return gulp.src('client/templates/*.less')
                .pipe(less())
                .pipe(minifyCSS())
                .pipe(gulp.dest('build/css'))
            });

      section
        h2 Why using Gulp ?
        ul.build.build-items
          li Gulp solves the problem of <strong>repetition</strong>
          li <strong>Automate</strong> tasks such as :
            ul.build.build-items
              li Bundling and Minifying multiple files
              li Refreshing the browser ( hot-reload)
              li Quickly run unit testing
              li Compile code ( Less / Sass )
              li Copying files and cleaning folders
          li Simple to use thanks to the task system
          
      section(data-bespoke-backdrop='applause')
        h1 Thanks for listening
        h2 Any questions ?
      

    script(src='build/build.js')
